.login {
  margin: 0 auto;
  padding: 2.5rem 5rem;
  background-color: var(--color-white);
  max-width: 100rem;
}
.login section {
  padding: 2.5rem 3.2rem;
  margin-top: 3rem;
}
.login .login_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3;
  min-height: 60vh;
  background-color: var(--color-slightly-dark);
}
.login .login_tab {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2rem;
  align-items: center;
}

.login .image {
  background-image: url(../../public/login-img.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login p {
  color: var(--color-white);
  font-size: 1.6rem;
}
.login h2 {
  font-size: 2.6rem;
  color: var(--color-white);
  text-transform: uppercase;
}
.login .icon {
  font-size: 3rem;
  color: var(--color-white);
}
.login .login_panel {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 2.5rem;
}
.login .account_heading {
  color: var(--color-brand--1);
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.login form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.login input {
  padding: 0.8rem 1.2rem;
  background-color: #ddd;
  border: none;
  border-left: 4px solid var(--color-brand--1);
}
.login .account_info {
  font-size: 1.2rem;
  color: var(--color-brand--1);
  cursor: pointer;
}
.login .check_singed {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
}
.login label {
  color: var(--color-dark-1);
}
form {
  position: relative;
}
.login .labelCheck,
.login .labelCheckPass,
.login .labelCheckConf {
  position: absolute;
  top: 18%;
  left: 0;
  color: var(--color-red);
}

.login .labelCheckPass {
  top: 45%;
}

.login .labelCheckConf {
  top: 71%;
}
