.categoryObj,
.categoryObj:link,
.categoryObj:visited {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1rem 2rem;
  border-left: 5px solid var(--color-brand--2);
  cursor: pointer;
  transition: border-left 0.3s;
}
.categoryObj:hover {
  border-left: 5px solid var(--color-brand--1);
}
.categoryObj--active {
  border-left: 5px solid var(--color-brand--1);
}
.name {
  font-size: 1.7rem;
  font-weight: 500;
}
.categoryBox {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
  color: var(--color-dark--1);
}
.catCount {
  display: inline-block;
  color: var(--color-brand--1);
  font-weight: 600;
}
a {
  text-decoration: none;
}
.iconDel {
  font-size: 2.2rem;
  cursor: pointer;
  color: var(--color-brand--2);
  transition: color 0.3s;
}
.iconDel:hover {
  color: #d2122e;
}
.button {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  z-index: 100;
}
.container {
  position: relative;
}
