.container {
  display: flex;
  width: 100%;
  background-color: #fff;
  margin: 9.6rem 4.8rem 4.8rem 4.8rem;
  color: #000;
}
.docContainer {
  width: 100%;
  border: none;
}
.spinner {
  margin: 0 auto;
  justify-self: center;
  align-self: center;
}
.containerCat {
  width: 100%;
  margin: 9.6rem 4.8rem 4.8rem 4.8rem;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  .containerCat {
    margin: 9.6rem 2.2rem 2.2rem 2.2rem;
    grid-template-columns: 1fr 1fr;
  }
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  .containerCat {
    grid-template-columns: 1fr;

    max-width: 80%;
    margin: 9.6rem auto 2.2rem auto;
  }
}
/**************************/
/* BELOW 600px (Tablets) */
/**************************/

@media (max-width: 600px) {
  .containerCat {
    max-width: 100%;
  }
}
