.docInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  margin-top: 3rem;
  gap: 2rem;
  /* justify-content: center; */
}
.docInfo li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 700;
  gap: 2rem;
}
.docInfo li span {
  font-size: 1.4rem;
  text-align: right;
  font-weight: 500;
  /* cursor: pointer; */
}
/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .docInfo {
    display: grid;
    grid-template-columns: 1fr;
    /* align-items: end; */
    width: 50%;
    gap: 1rem;
    margin: 0 auto;
  }
  .docInfo li {
  }
}
