.docObj,
.docObj:link,
.docObj:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  padding: 0.1rem 1.5rem;
  font-size: 1.8rem;
  border-left: 5px solid var(--color-brand--2);
}
.docObj--active {
  border-left: 5px solid var(--color-brand--1);
}
.name {
  font-size: 1.7rem;
  font-weight: 500;
}
