.docObj,
.docObj:link,
.docObj:visited {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  cursor: pointer;
  padding: 0.1rem 1.5rem;
  font-size: 1.8rem;
  border-radius: 5px;
  border-left: 5px solid var(--color-brand--2);
  color: inherit;

  transition: border-left 0.3s;
}
.docObj--active {
  border-left: 5px solid var(--color-brand--1);
}
.docObj:hover {
  border-left: 5px solid var(--color-brand--1);
}
.name {
  font-size: 1.7rem;
  font-weight: 500;
}
.docsContainer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2.2rem;
  position: relative;
}
.iconEdit,
.iconDel {
  font-size: 2.2rem;
  cursor: pointer;
  color: var(--color-brand--2);
  transition: color 0.3s;
}
.iconDel:hover {
  color: #d2122e;
}
.iconEdit:hover {
  color: var(--color-brand--1);
}
.button {
  display: block;
  border: none;
  background: none;
}
/* .editButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.editForm {
  position: absolute;
  top: 0;
  left: 10%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  border-radius: 7px;
  border: none;
}
.editInput {
  padding: 0.5rem 0.8rem;
  font-family: inherit;
  width: 40%;
  border: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.editBtn {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  font-family: inherit;
  border: none;
  background-color: var(--color-brand--1);
  color: #fff;
  font-weight: 600;
  margin-right: 1rem;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
} */
