.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-brand--1);
  z-index: 10;
  padding: 1.2rem 2.2rem;
  gap: 2rem;
  margin-top: calc(9.6rem / 4);
  margin-right: 1rem;
  width: auto;
  border-radius: 15px;
}
.headerInfo {
  font-size: 1.8rem;
  color: #fff;
}
.username {
  font-weight: 600;
}

@media (max-width: 44em) {
  .header {
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    padding: 1rem;
    gap: 1rem;
  }
  .headerInfo {
    font-size: 1.6rem;
  }
}

@media (max-width: 34em) {
  .header {
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    padding: 1rem;
    gap: 1rem;
  }
  .headerInfo {
    font-size: 1.6rem;
  }
}
