.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: relative;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
}
.nav a:link,
.nav a:visited {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-dark--1);
  text-transform: uppercase;
  font-weight: 500;
}
.nav a:global(.active) {
  color: var(--color-brand--2);
}
.mobileNavBtn {
  position: fixed;
  top: 5%;
  right: 5%;
  border: none;
  background: none;
  font-size: 4rem;

  cursor: pointer;
  z-index: 1000;
  display: none;
}
.colorDark {
  color: inherit;
}
.colorWhite {
  color: var(--color-white);
}
.nav .logoDocsee {
  color: var(--color-white);
  font-size: 3.2rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: none;
  margin-top: 4.8rem;
}
.nav .logoDocsee span {
  color: var(--color-brand--1);
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
@media (max-width: 44em) {
  .nav {
    margin-right: 5rem;
    margin-left: 5rem;
  }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 34em) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-brand--2-op);
    z-index: 100;
    margin-right: 0rem;
    margin-left: 0rem;
  }
  .nav ul {
    flex-direction: column;
    margin-top: 10rem;
    gap: 4.8rem;
    align-items: center;
    justify-content: center;
  }
  .nav a:link,
  .nav a:visited {
    color: var(--color-white);
    font-size: 3rem;
  }
  .nav li {
    width: 80vw;
    padding-bottom: 4.8rem;
    text-align: center;
    border-bottom: 1px solid var(--color-slightly-dark-op);
  }
  .nav li:first-child {
    border-top: 1px solid var(--color-slightly-dark-op);
    padding-top: 4.8rem;
  }
  .mobileNavBtn {
    display: block;
  }
}
