.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  flex-basis: 40rem;
  background-color: var(--color-white);
  padding: 3rem 5rem;
}
.footer {
  margin-top: auto;
}
